<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="chats"></ion-back-button>
    </ion-buttons>
    <ion-title>Configurations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item button (click)="presentInputPopup()">
        <ion-label>Total concurrent downloads
          <br />
          {{ totalConcurrentDownloads }}
        </ion-label>
      </ion-item>
      <ion-item button (click)="selectFolder()">
        <ion-label>Downloads Folder
          <br />
          {{ downloadsFolder }}
        </ion-label>
      </ion-item>
      <ion-item button (click)="confirmLogout()">
        <ion-label><ion-text color="danger">Logout</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>